:root {
  /*Colors */
  --color-primary: #313942;
  --color-primary-light: #2f4a61;
  --color-accent: #899d78;
  --color-accent-dark: #657755;
  --color-links: #d7f0fa;
  --color-links-dark: #8fa7c2;
  --color-text: #ffffff;

  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.625rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Fonts */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-body: Rubik, var(--font-system);
  --font-brand: Rubik, var(--font-system);

  /* Transitions */
  --theme-transition: 0.2s ease-in-out;

  /* Breakpoints */
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

body {
  margin: 0;
  background-color: var(--color-primary);
  font-family: var(--font-body);
  color: var(--color-text);
  padding: 1rem;
}

a {
  color: var(--color-links);
  text-decoration: none;
  transition: var(--theme-transition);
}

a:hover {
  color: var(--color-links-dark);
}

pre {
  border-radius: 0.5rem;
  padding: 1rem;
}

.container {
  max-width: var(--screen-lg);
  margin: 0 auto;
}
