---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Posts from "@/components/Posts.astro";
---

<BaseLayout title="Blog" description="Blog posts">
  <h1>Blog</h1>
  <Posts />
</BaseLayout>
