---
import Header from "@/components/Home/Header.astro";
import Posts from "@/components/Home/Posts.astro";
import Projects from "@/components/Home/Projects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <Header />
    <Projects />
    <Posts />
  </main>
</BaseLayout>
