---
import HomeHeader from "@/components/HomeHeader.astro";
import HomeProjects from "@/components/HomeProjects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <HomeHeader />
    <HomeProjects />
  </main>
</BaseLayout>
