---
import HomeHeader from "@/components/HomeHeader.astro";
import HomePosts from "@/components/HomePosts.astro";
import HomeProjects from "@/components/HomeProjects.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <HomeHeader />
    <HomeProjects />
    <HomePosts />
  </main>
</BaseLayout>
