---
import HomeHeader from "@/components/HomeHeader.astro";
import config from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <main>
    <HomeHeader />
  </main>
</BaseLayout>
