---
import config from "@/config";
const currentYear = new Date().getFullYear();
---

<footer>
  <p>&copy; {currentYear} {config.authorFirstName} {config.authorLastName}</p>
</footer>

<style>
  footer {
    margin-top: 2rem;
  }
  p {
    color: white;
    text-align: center;
  }
</style>
