---
import config from "@/config";

interface NavProps {
  currentPage: string;
}
---

<nav>
  <a class="nav-logo" href="/">{config.brandText}</a>
  <ul class="nav-links">
    <li><a href="/projects">Projects</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-logo {
    font-size: var(--text-3xl);
    font-family: var(--font-brand);
    font-weight: 700;
    margin: 1rem 0;
  }

  .nav-links {
    font-family: var(--font-header);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-links li a {
    margin: 0 1rem;
  }

  .nav-links li a:hover {
    font-size: var(--text-md);
  }
</style>
