---
import { format } from "date-fns";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<ul class="posts">
  {
    allPosts
      .filter((post) => !post.frontmatter.hidden)
      .slice(0, 5)
      .sort(
        (a, b) =>
          (new Date(b.frontmatter.date) as any) -
          (new Date(a.frontmatter.date) as any)
      )
      .map((post) => (
        <li class="post">
          <a href={post.url}>
            <div class="post-link-content">
              <div class="post-link-content__left">
                <h2>{post.frontmatter.title}</h2>
                <p>{post.frontmatter.description}</p>
              </div>

              <p>{format(new Date(post.frontmatter.date), "yyyy.MM.dd")}</p>
            </div>
          </a>
        </li>
      ))
  }
</ul>

<style>
  .posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .posts {
    padding: 0;
    list-style: none;
  }
  .post {
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    border-left: 4px solid var(--color-accent);
    transition: 0.2s ease;
    cursor: pointer;
  }

  .post:hover {
    padding: 1rem 2rem 1rem 2.5rem;
    background-color: var(--color-primary-light);
  }

  .post-link-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .post h2 {
    margin: 0;
  }
  .post .post-link-content__left p {
    margin: 0;
    font-style: italic;
  }
  .post a {
    color: var(--color-text);
  }
  .post a:hover {
    color: var(--color-text);
  }
  @media screen and (min-width: 768px) {
    .posts-header {
      margin-top: 2rem;
    }
  }
</style>
