---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <h1 class="post-title">{frontmatter.title}</h1>
  <slot />
</BaseLayout>

<style>
  .post-title {
    font-size: var(text-3xl);
    margin-bottom: 2rem;
    border-right: 4px solid var(--color-accent);
  }
</style>
